#input-box{
    margin-top: 50px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    background-color:#3500D3;
    border-radius: 20px;
}
#zipCodeButton{
    color: white;
    font-size: 25px;
}